<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ship List</h1>
    </div>
    <div class="col-md-12 col-xs-8"><span>Text</span></div>
    <div class="col-md-12 col-xs-4">
      <input [(ngModel)]="sale.lbs"
             type="number"
             name="weightInput"
             placeholder="lbs"
             min="1" max="300" step=".1">
      <span><small>server: </small>{{ sale.lbs }}</span>
    </div>
  </div>
</div>
<hr>
<h1 style="padding-left: 1em">Add an item</h1>
<div>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-9">
          <input [(ngModel)]="textInputValue" class="form-control" type="text" id="itemTitle">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3">
          <button
              class="btn btn-primary active"
              type="submit"
              id="postItem"
              (click)="postItem($event)">
            Post
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>{{ last_error }}</span>
        </div>
      </div>
    </div>
  </form>
</div>
